.side
  .side__header
    .side__header__box
      .side__header__box__username
        masa
      %ul.side__header__box__username__menu
        %li.side__header__box__username__menu__new-group
          = link_to new_group_path , class: "a" do
            = icon('fas', 'edit')
        %li.side__header__box__username__menu__name-edit
          = link_to edit_user_path(current_user) , class: "b" do
            = icon('fas', 'cog')
  .groups
    .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) , class: "none" do
          .group__name
            = group.name
          .group__chat
            まだメッセージは、ありません。

  